Source: krecipes
Section: kde
Priority: optional
Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: Julien Louis <ptitlouis@sysif.net>
Build-Depends: cdbs, debhelper (>= 5), kdelibs4-dev, libsqlite3-dev, libmysqlclient15-dev, libpq-dev
Standards-Version: 3.6.2

Package: krecipes
Architecture: any
Depends: krecipes-data (= ${Source-Version}), ${shlibs:Depends}
Suggests: libqt3-mt-mysql | libqt3-mt-psql, krecipes-doc (= ${Source-Version})
Description: recipes manager for KDE
 Krecipes is a KDE application designed to managed recipes. It can help you to
 do your shopping list, search through your recipes to find what you can do
 with available ingredients and a diet helper. It can also import or export
 recipes from files in various format (eg RecipeML or Meal-Master) or from
 databases.

Package: krecipes-doc
Architecture: all
Recommends: krecipes (= ${Source-Version})
Description: recipes manager for KDE - documentation
 Krecipes is a KDE application designed to managed recipes. It can help you to
 do your shopping list, search through your recipes to find what you can do
 with available ingredients and a diet helper. It can also import or export
 recipes from files in various format (eg. RecipeML or Meal-Master) or from
 databases.
 .
 This package contains the krecipes documentation

Package: krecipes-data
Architecture: all
Description: recipes manager for KDE - data files
 Krecipes is a KDE application designed to managed recipes. It can help you to
 do your shopping list, search through your recipes to find what you can do
 with available ingredients and a diet helper. It can also import or export
 recipes from files in various format (eg RecipeML or Meal-Master) or from
 databases.
 .
 This package provides architecture independent files for krecipes.
